main/default/flows/Birthday.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Birthday_Wish</name>
        <label>Send Birthday Wish</label>
        <locationX>785</locationX>
        <locationY>324</locationY>
        <actionName>Contact.Happy_Birthday</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Template</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <interviewLabel>Birthday {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Birthday</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Email</name>
        <label>Log Email Message</label>
        <locationX>1100</locationX>
        <locationY>324</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Email_Template.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Email_Template</name>
        <label>Get Email Template</label>
        <locationX>965</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Happy_Birthday	</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>411</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Send_Birthday_Wish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BirthdayIsToday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-16</startDate>
            <startTime>02:50:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Birthday</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Happy Birthday!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Birthday1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Happy Birthday2!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.FirstName}
Happy Birthday, Hero!</text>
    </textTemplates>
</Flow>
